extends layout

block content
  h1= title
  p Welcome to #{title}

  div(style='width: 500px;')
    form(role='form', action='add', method='POST')
      //- div.form-group
        input(type='text', name='image_slug', placeholder='Slug').form-control
      div.form-group
        input(type='text', name='image_title', placeholder='Title').form-control
      div.form-group
        input(type='text', name='image_url', placeholder='URL').form-control
      button(type='submit').btn.btn-primary
        span.glyphicon.glyphicon-plus
        |Add image

  - each image in images
    div.image
      h3= image.title
      div.my-image
        a(href='#{image.url}', target='_blank')
          img(src='#{image.url}').img-responsive.img-rounded
      div.buttons
        button(id='#{image.slug}', onclick='edit(this)').btn.btn-primary.my-button
          span.glyphicon.glyphicon-pencil
          |Edit
        a(href='remove/#{image.slug}').btn.btn-danger.my-button
          span.glyphicon.glyphicon-remove
          |Remove

